services:
  backend:
    build:
      context: .
      target: api
    ports:
      - "4000:4000"
    env_file:
      - .env

  frontend:
    build:
      context: .
      target: ui
    ports:
      - "3001:3001"
    env_file:
      - .env
    depends_on:
      - backend