services:
  backend:
    build:
      context: .
      target: api
    ports:
      - "4000:4000"
    env_file:
      - .env

  frontend:
    build:
      context: .
      target: ui
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - backend

  admin:
    build:
      context: .
      target: admin-ui
    ports:
      - "3002:3002"
    env_file:
      - .env
    depends_on:
      - backend