services:
  backend:
    build:
      context: .
      target: api
    ports:
      - "4000:4000"  # Maps YOUR localhost:4000 to CONTAINER 4000
    env_file:
      - .env

  frontend:
    build:
      context: .
      target: ui
    ports:
      - "3000:3000"  # Maps YOUR localhost:3000 to CONTAINER 3000
    env_file:
      - .env
    depends_on:
      - backend